---
layout: default
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <script data-ad-client="ca-pub-3191128501345308" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
<body style="padding-bottom:20px;"> 
 {% include navbar.html %}

<div class="container-fluid bg-main-subtitle">
  <div class="container">
    <div class="col-12 font-read-text font-main-subtitle"> 
    <br/>
    A Developer's Weekly <br/>Saga;
    <br/>
    <br/>
    </div>
  </div>
</div>

<div class="container">
  <p>&nbsp;</p>
</div>


<div class="container">
  <div class="row">
      <div class="col-12 font-read-text"> 
        {{ content }}
        <br/>
      </div>
      <!--
      <div class="col-2"> 
        <div class="row h-100 mt-5">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2306892121469167"
               data-ad-slot="6245880970"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      -->
  </div>
</div>

 {% include footer.html %}
</body>
</html>
